//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "font-family: 'Manrope', sans-serif;";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
body {
	overflow: hidden;
	position: relative;
	font-family: 'Manrope', sans-serif;
}

.wrapper {
	display: none;
}

.letters img{
	margin: 180px 0px 0px 220px;
	position: absolute;
	top: 0px;
	left: 0;
	width: 450px;
	
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.body__img img {
	z-index: -5;
}
.body__block img{
	width: 1200px;
	height: 650px;
	position: absolute;
	top: 50px;
	left: 11%;
	z-index: -1;
}
.body__container{
	position: relative;
	display: flex;
	&:nth-child(1){
	padding: 72px 0px 0px 0px;
	}
	&:nth-child(7){
		padding: 0px 0px 0px 115px;
		}
}
.body__block-letter{
	cursor: pointer;
	width: 60px;
	padding: 0px 0px 0px 13px;
	background-color: #FF5F4E;
	color: #fff;
	top: 0;
	transition-duration: 500ms;
	border-radius: 100px;
	font-size: 48px;
	font-weight: 800;
	line-height: 60px;
	text-align: left;
	box-shadow: -3px 3px 0px #3c354a;
	margin: 15px 0px 0px 50px;
		&:nth-child(1){
			margin: 15px 0px 0px 750px;
			padding: 0px 0px 0px 13px;
		}

	&:hover{
		box-shadow: -1px 1px 0px #3c354a;
		background-color: #3FD9FB;
		margin: 15px 2px 0px 48px;
		&:nth-child(1){
			margin: 15px 2px 0px 748px;
		}
	}
}
.pl-20 {
	padding: 0px 0px 0px 22px;
}
.pl-5 {
	padding: 0px 0px 0px 5px;
}
.pl-7 {
	padding: 0px 0px 0px 7px;
}
.pl-9 {
	padding: 0px 0px 0px 9px;
}
.pl-12 {
	padding: 0px 0px 0px 12px;
}
.pl-15 {
	padding: 0px 0px 0px 15px;
}
.fz-48 {
	font-size: 48px;
}

.body__text{
	position: absolute;
	top: 60px;
	z-index: 5;
	font-weight: 800;
	font-size: 52px;
	line-height: 60px;
	text-align: center;
	-webkit-text-stroke: 1px #000000;
	color: rgb(255, 255, 255);
}
.body__img img {
	width: 101%;
	height: 120%;
	position: absolute;
}

.body__fruit {
	position: absolute;
	top: 35%;
	left: 20%;
}
.body__fruit img {
	width: 1000px;
	height: 400px;
}
.body__button {
	position: absolute;
	right: 60px;
	bottom: 25px;
	background-color: #FF5F4E;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	color: #fff;
	font-size: 24px;
	padding-left: 5px;
	transition-duration: 500ms;
	box-shadow: 0 5px 0px #3c354a;
	font-family: 'Manrope', sans-serif;
	&:hover {
		background-color: #3FD9FB;
		box-shadow: 0 3px 0px #3c354a;
		bottom: 23px;

	}
	.img__latter{
		position: absolute;
		top: 0;
	}

}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
