@charset "UTF-8";
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a, 
a:focus,
a:active {
	outline: none;
	color: #000;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "font-family: 'Manrope', sans-serif;";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "font-family: 'Manrope', sans-serif;";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
	font-family: "Arsenal", sans-serif;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	overflow: hidden;
	position: relative;
	font-family: "Arsenal", sans-serif;
}

.wrapper {
	display: none;
}

.letters img {
	margin: 180px 0px 0px 220px;
	position: absolute;
	top: 0px;
	left: 0;
	width: 450px;
}

.fade-enter-active,
.fade-leave-active {
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.body__img img {
	z-index: -5;
}
.body__block-test img {
	width: 800px;
	height: 650px;
	position: absolute;
	top: 50px;
	left: 23%;
	z-index: -1;
}
.body__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.body__container:nth-child(1) {
	padding: 72px 0px 0px 0px;
}
.body__container:nth-child(7) {
	padding: 0px 0px 0px 115px;
}
.body.body__block-letter {
	cursor: pointer;
	width: 60px;
	padding: 0px 0px 0px 13px;
	background-color: #FF5F4E;
	color: #fff;
	top: 0;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 100px;
	font-size: 48px;
	font-weight: 800;
	line-height: 60px;
	text-align: left;
	-webkit-box-shadow: -3px 3px 0px #3c354a;
	        box-shadow: -3px 3px 0px #3c354a;
	margin: 15px 0px 0px 50px;
}
.body.body__block-letter:nth-child(1) {
	margin: 15px 0px 0px 750px;
	padding: 0px 0px 0px 13px;
}
.body.body__block-letter:hover {
	-webkit-box-shadow: -1px 1px 0px #3c354a;
	        box-shadow: -1px 1px 0px #3c354a;
	background-color: #3FD9FB;
	margin: 15px 2px 0px 48px;
}
.body.body__block-letter:hover:nth-child(1) {
	margin: 15px 2px 0px 748px;
}
.body__img img {
	width: 101%;
	height: 120%;
	position: absolute;
}
.body__fruit {
	position: absolute;
	top: 35%;
	left: 20%;
}
.body__fruit img {
	width: 1000px;
	height: 400px;
}
.body__button {
	background-color: #FF5F4E;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	color: #fff;
	font-size: 20px;
	padding-left: 5px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	-webkit-box-shadow: 0 5px 0px #3c354a;
	        box-shadow: 0 5px 0px #3c354a;
	font-family: "Manrope", sans-serif;
	margin: 0 18%;
}
.body__button:hover {
	background-color: #3FD9FB;
	-webkit-box-shadow: 0 3px 0px #3c354a;
	        box-shadow: 0 3px 0px #3c354a;
	bottom: 23px;
}
.body .pl-20 {
	padding: 0px 0px 0px 22px;
}
.body .pl-5 {
	padding: 0px 0px 0px 5px;
}
.body .pl-7 {
	padding: 0px 0px 0px 7px;
}
.body .pl-9 {
	padding: 0px 0px 0px 9px;
}
.body .pl-12 {
	padding: 0px 0px 0px 12px;
}
.body .pl-15 {
	padding: 0px 0px 0px 15px;
}
.body .fz-48 {
	font-size: 48px;
}
.body .img__latter {
	position: absolute;
	top: 0;
}

.test__content {
	margin-top: 30px;
}
.test__back {
	min-height: 100%;
	min-width: 640px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.test__container {
	max-width: 700px;
	margin: 0 auto;
	background-color: #3FD9FB;
	border-radius: 20%;
}
.test__text {
	padding: 20px 0px 0px 0px;
}
.test__text-h1 {
	background-color: #FF5F4E;
	max-width: 350px;
	margin: 0 auto;
	border-radius: 20px;
	color: #fff;
	font-size: 38px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	padding: 5px 0;
	cursor: default;
}
.test__sound {
	width: 40px;
	cursor: pointer;
	padding: 5px;
	border-radius: 20px;
	margin: 0px 5px 0px 0px;
	transition-duration: 500ms;
}
.test__sound:hover{
	background-color: rgba(255, 255, 255, 0.392);
}
.test__sound2 {
	width: 35px;
}
.test__sound-latter{
	margin: 0 46%;
	width: 50px;
}
.test__img {
	margin: 0px 0 0px 22%;
}
.test__img-latter {
	max-width: 400px;
	margin: 10px auto;
}
.test__queshion {
	background-color: #FF5F4E;
	max-width: 300px;
	margin: 25px auto;
	border-radius: 20px;
	color: #fff;
	font-size: 25px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	padding: 0px 0 0 0;
	cursor: default;
}
.test__ques{
	padding: 5px 0px 0px 0px;
}
.test__answer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0 auto;
	color: rgb(117, 0, 0);
	font-size: 48px;
	font-family: "Manrope", sans-serif;
	padding: 0px 0px 50px 0px;
}
.test__answer-one {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 30%;
	border: solid #3c354a;
	cursor: pointer;
}

.test__answer-one:hover {
	background-color: rgba(169, 169, 169, 0.5);
}
.test__answer-two {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 30%;
	cursor: pointer;
	border: solid #3c354a;
}
.test__answer-two:hover {
	background-color: rgba(169, 169, 169, 0.5);
}
.test__answer-three {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 30%;
	cursor: pointer;
	border: solid #3c354a;
}
.test__answer-three:hover {
	background-color: rgba(169, 169, 169, 0.5);
}
.test .test__footer {
	font-size: 20px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	background-color: rgb(219, 222, 255);
	margin: 16px 0px 0px 0px;
}
.test .test__footer-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.test .test__footer-flex-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 10px 0px 10px;
	border-radius: 15px;
	cursor: pointer;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
}
.test .test__footer-flex-left:hover {
	background-color: #ff8678;
	color: #fff;
}
.test .test__flex-back {
	padding: 0px 10px 0px 0px;
}
.test .test__footer-flex-centr {
	background-color: #3FD9FB;
	padding: 10px 15px;
}
.test .test__footer-flex-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 10px 0px 10px;
	border-radius: 15px;
	cursor: pointer;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
}
.test .test__footer-flex-right:hover {
	background-color: #ff8678;
	color: #fff;
}
.test .test__flex-next {
	padding: 0px 10px 0px 0px;
}

.true {
	position: absolute;
	top: 0;
	left: 50%;
}
.true__content {
	background-color: #fff;
	max-width: 500px;
}
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.modal-container {
	width: 300px;
	margin: auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 20px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.modal-header {
	margin-top: 0;
	background-color: #42b983;
	text-align: center;
	border-radius: 15px;
	color: #fff;
	font-size: 35px;
}

.false {
	background-color: rgb(219, 21, 21);
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

/*
 * Наступні стилі застосовуються автоматично
 * до елементів з transition="modal",
 * коли їх видимість переключається Vue.js.
 *
 * Ви з легкістю можете пограти з появою
 * модального вікна, редагуючи ці стилі.
 */
.modal-enter-from {
	opacity: 0;
}

.modal-leave-to {
	opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
}

.img__true {
	max-width: 150px;
	margin: 0 0 0px 50px;
}

.img__truee {
	max-width: 180px;
	margin: 0 0 0px 20px;
}

@media (max-width: 1400px) {
	body {
		overflow: scroll;
	}
}
@media (max-width: 699px) {
	.test__container {
		max-width: 600px;
	}
	.test__img {
		margin: 0px 0 0px 18%;
	}
}
@media (max-width: 599px) {
	.test__container {
		max-width: 500px;
	}
	.test__img {
		margin: 0px 0 0px 14%;
	}
}
@media (max-width: 499px) {
	.test__container {
		max-width: 450px;
	}
	.test__img {
		margin: 0px 0 0px 6%;
	}
}
@media (max-width: 449px) {
	.test__container {
		max-width: 300px;
	}
	.test__img {
		margin: 0px 0 0px 3%;
	}
	.test__img img {
		max-width: 260px;
	}
	.test__text {
		padding: 20px 0px 0px 0px;
	}
	.test__text-h1 {
		max-width: 250px;
		font-size: 18px;
		padding: 5px 0;
	}
}
@media (min-height: 765px) {
	.test .test__footer {
		margin: 18px 0px 0px 0px;
	}
}
@media (min-height: 765px) {
	.test .test__footer {
		margin: 18px 0px 0px 0px;
	}
}
@media (min-height: 770px) {
	.test .test__footer {
		margin: 22px 0px 0px 0px;
	}
}
@media (min-height: 790px) {
	.test .test__footer {
		margin: 42px 0px 0px 0px;
	}
}
@media (min-height: 820px) {
	.test .test__footer {
		margin: 72px 0px 0px 0px;
	}
}
@media (min-height: 850px) {
	.test .test__footer {
		margin: 102px 0px 0px 0px;
	}
}
@media (min-height: 880px) {
	.test .test__footer {
		margin: 132px 0px 0px 0px;
	}
}
@media (min-height: 900px) {
	.test .test__footer {
		margin: 152px 0px 0px 0px;
	}
}
.res__content {
	margin-top: 30px;
	font-family: "Arsenal", sans-serif;
}
.res__back {
	min-height: 100%;
	min-width: 640px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.res__container {
	max-width: 700px;
	margin: 0 auto;
	background-color: hsl(124deg, 96%, 62%);
	border-radius: 20%;
}
.res__text {
	padding: 20px 0px 0px 0px;
}
.res__text-h1 {
	background-color: #FF5F4E;
	max-width: 350px;
	margin: 0 auto;
	border-radius: 20px;
	color: #fff;
	font-size: 38px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	padding: 5px 0;
	cursor: default;
}
.res__sound {
	width: 3vw;
	cursor: pointer;
}
.res__img {
	margin: 0px 0 0px 40%;
}
.res__img img {
	width: 136px;
}
.res__img-latter {
	max-width: 400px;
	margin: 30px auto;
}
.res__queshion {
	background-color: #FF5F4E;
	max-width: 150px;
	margin: 30px auto;
	border-radius: 20px;
	color: #fff;
	font-size: 58px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	padding: 5px 0;
	cursor: default;
}
.res__answer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0 auto;
	color: rgb(117, 0, 0);
	font-size: 28px;
	font-family: "Arsenal", sans-serif;
	padding: 0px 0px 50px 0px;
}
.res__answer-one {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 30px;
	border: solid #3c354a;
	cursor: pointer;
}
.res__answer-one:hover {
	background-color: rgba(13, 0, 255, 0.23);
}
.res__answer-two {
	padding: 30px;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
	border-radius: 30px;
	cursor: pointer;
	border: solid #3c354a;
}
.res__answer-two:hover {
	background-color: rgba(255, 0, 225, 0.293);
}
.res .res__footer {
	font-size: 20px;
	font-family: "Manrope", sans-serif;
	text-align: center;
	background-color: rgb(219, 222, 255);
	margin: 16px 0px 0px 0px;
}
.res .res__footer-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.res .res__footer-flex-left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 10px 0px 10px;
	border-radius: 15px;
	cursor: pointer;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
}
.res .res__footer-flex-left:hover {
	background-color: #ff8678;
	color: #fff;
}
.res .res__flex-back {
	padding: 0px 10px 0px 0px;
}
.res .res__footer-flex-centr {
	background-color: #3FD9FB;
	padding: 15px 15px;
}
.res .res__footer-flex-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 10px 0px 10px;
	border-radius: 15px;
	cursor: pointer;
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
}
.res .res__footer-flex-right:hover {
	background-color: #ff8678;
	color: #fff;
}
.res .res__flex-next {
	padding: 0px 10px 0px 0px;
}
